body {
    font-family: arial, sans-serif;
    font-size: 10pt;
    padding: 13px 0px 7px 0px;
    /* Note: the padding is determined from the height of div.header and */
    /*       div.copyright minus the same number of pixels each...       */
}

a {
    color: rgb(103, 103, 103);
    text-decoration: none;
}

a:visited {
    color: rgb(103, 103, 103);
}

a:hover {
    margin: -1px;
    border: 1px dotted rgba(103, 103, 103, 0.49);
    background-color: rgba(103, 103, 103, 0.07);
    color: rgb(103, 103, 103);
}

div.header {
    padding: 3px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 23px;
    background: rgb(103, 103, 103);
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-weight: bold;
}

div.section {
    color: rgb(103, 103, 103);
    font-size: 13pt;
    font-weight: bold;
}

li {
    list-style-type: square;
}

pre {
    margin: 3px 13px 3px 13px;
    border: 1px dashed rgba(103, 103, 103, 0.49);
    padding: 3px;
    background: rgba(103, 103, 103, 0.07);
    white-space: pre-wrap;
}

div.copyright {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 17px;
    background: rgb(229, 229, 229);
    color: rgb(161, 161, 161);
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
}
