body {
    padding: 13px 0px 9px 0px;
    /* Note: the padding is determined from the height of div.header and */
    /*       div.copyright minus the same number of pixels each...       */
    font-family: arial, sans-serif;
    font-size: 10pt;
}

a {
    color: rgb(103, 103, 103);
    outline: 0px;
    text-decoration: none;
}

a:visited {
    color: rgb(103, 103, 103);
}

a:hover {
    margin: -1px;
    border: 1px solid rgba(103, 103, 103, 0.13);
    background: rgba(103, 103, 103, 0.05);
    color: rgb(103, 103, 103);
}

a.noHover:hover {
    /* This prevents anchors from looking like a link */

    margin: 0px;
    border: 0px;
    background: rgba(255, 255, 255, 0);
}

div.copyright {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 19px;
    border-top: 1px solid rgba(161, 161, 161, 0.39);
    background: rgb(229, 229, 229);
    color: rgb(161, 161, 161);
    font-size: 9pt;
    font-weight: bold;
}

div.copyright div {
    display: table-cell;
    position: fixed;
    bottom: 2px;
}

div.copyright div.left {
    left: 4px;
}

div.copyright div.center {
    position: absolute;
    left: 50%;
    top: 50%;
}

div.copyright div.right {
    right: 4px;
}

div.copyright div a.copyright:hover {
    margin: 0px;
    border: 0px;
    background: none;
}

div.copyright div img.twitter {
    position: relative;
    top: -15px;
    border: 0px;
}

div.copyright div img.vpr {
    position: relative;
    top: 4px;
    border: 0px;
}

div.header {
    padding: 3px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 23px;
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-weight: bold;
}

span.anchor {
    display: block;
    height: 23px;
    margin-top: -23px;
    visibility: hidden;
}

div.section {
    margin: 1.5em 0em 0.5em 0em;
    /* Note: the margin is so that it is rendered like a <p>, which is  */
    /*        necessary if we want to use a section at the beginning of */
    /*        a page (because of our fixed header at the top)...        */
    font-size: 13pt;
    font-weight: bold;
}

div.section table {
    border-spacing: 0px;
    width: 100%;
}

div.section table td {
    padding: 0px;
}

div.section table td.date {
    text-align: right;
    font-size: 9pt;
    font-style: italic;
    font-weight: normal;
}

div.section table td span.whatIsNew {
    font-size: 7pt;
    font-style: italic;
    font-weight: normal;
}

div.subsection {
    margin: 1.5em 0em 0.5em 0em;
    /* Note: mimicking what has been done in div.section... */
    font-size: 11pt;
    font-style: italic;
    font-weight: bold;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
}

li {
    list-style-type: square;
}

p.nomargins {
    margin: 0px;
}

p.note::before {
    content: "Note:";
    font-weight: bold;
    text-decoration: underline;
}

p.note1::before {
    content: "Note #1:";
}

p.note2::before {
    content: "Note #2:";
}

p.note3::before {
    content: "Note #3:";
}

pre {
    margin: 3px 13px 3px 13px;
    border: 1px solid rgba(103, 103, 103, 0.13);
    padding: 3px;
    background: rgba(103, 103, 103, 0.05);
    white-space: pre-wrap;
}
