a {
    color: rgba(49, 133, 155, 1);
}

a:visited {
    color: rgba(49, 133, 155, 1);
}

a:hover {
    border: 1px dotted rgba(49, 133, 155, 0.49);
    background-color: rgba(49, 133, 155, 0.07);
    color: rgba(49, 133, 155, 1);
    /* Note: ideally, 'color' would be specified in stylesheet.css, but then */
    /*       local links wouldn't look fine, so... (!?)                      */
}

h1 {
    background: rgba(49, 133, 155, 1);
}

h2 {
    color: rgba(49, 133, 155, 1);
}

h2 a:hover {
    /* This is to prevent h2s that have an anchor from looking like a link */

    margin: 0px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgba(49, 133, 155, 1);
}

pre {
    border: 1px dashed rgba(49, 133, 155, 0.49);
    background: rgba(49, 133, 155, 0.07);
}

pre.good {
    border-color: rgba(118, 146, 60, 0.49);
    background: rgba(118, 146, 60, 0.07);
}

pre.bad {
    border-color: rgba(149, 55, 52, 0.49);
    background: rgba(149, 55, 52, 0.07);
}
