A
{
    Color: #31859B;
}

A:Visited
{
    Color: #31859B;
}

A:Hover
{
    Background-Color: #31859B;
    Color: #FFFFFF;
}

.TitleBackground
{
    Background: #31859B;
}

SPAN.SectionFont
{
    Color: #31859B;
}

PRE
{
    Background: #DBEEF3;
    Border: 1px Dashed #31859B;
    Padding: 3px;
    Margin: 3px 13px 3px 13px;
    White-Space: Pre-Wrap;
}

SPAN.Bold
{
    Font-Weight: Bold;
}

SPAN.Italic
{
    Font-Style: Italic;
}
