a {
    color: rgb(49, 133, 155);
}

a:visited {
    color: rgb(49, 133, 155);
}

a:hover {
    background-color: rgb(49, 133, 155);
    color: rgb(255, 255, 255);
    /* Note: ideally, 'color' would be specified in stylesheet.css, but then */
    /*       local links wouldn't look fine, so... (!?)                      */
}

a.sectionAnchor:hover {
    /* This is to prevent sections that have an anchor from looking like */
    /* a link                                                            */

    background-color: rgb(255, 255, 255);
    color: rgb(49, 133, 155);
}

p.titleBackground {
    background: rgb(49, 133, 155);
}

span.sectionFont {
    color: rgb(49, 133, 155);
}

pre {
    background: rgb(219, 238, 243);
    border: 1px dashed rgb(49, 133, 155);
}

pre.good {
    background: rgb(235, 241, 221);
    border: 1px dashed rgb(118, 146, 60);
}

pre.bad {
    background: rgb(242, 220, 219);
    border: 1px dashed rgb(149, 55, 52);
}
