a {
    color: rgb(49, 133, 155);
}

a:visited {
    color: rgb(49, 133, 155);
}

a:hover {
    background-color: rgb(49, 133, 155);
    color: rgb(255, 255, 255);
    /* Note: ideally, 'color' would be specified in stylesheet.css, but then */
    /*       local links wouldn't look fine, so... (!?)                      */
}

h1 {
    background: rgb(49, 133, 155);
}

h2 {
    color: rgb(49, 133, 155);
}

h2 a:hover {
    /* This is to prevent h2s that have an anchor from looking like a link */

    background-color: rgb(255, 255, 255);
    color: rgb(49, 133, 155);
}

pre {
    background: rgb(219, 238, 243);
    border: 1px dashed rgb(49, 133, 155);
}

pre.code {
    background: rgb(244, 250, 251);
    border-color: rgb(119, 193, 206);
}

pre.good {
    background: rgb(249, 251, 244);
    border-color: rgb(182, 206, 119);
}

pre.bad {
    background: rgb(251, 244, 244);
    border-color: rgb(206, 119, 119);
}
