A
{
    Color: #31859B;
}

A:Visited
{
    Color: #31859B;
}

A:Hover
{
    Background-Color: #31859B;
    Color: #FFFFFF;
}

.TitleBackground
{
    Background: #31859B;
}

SPAN.SectionFont
{
    Color: #31859B;
}

PRE
{
    Background: #DBEEF3;
    Border: 1px Dashed #31859B;
}

PRE.Good
{
    Background: #EBF1DD;
    Border: 1px Dashed #76923C;
}

PRE.Bad
{
    Background: #F2DCDB;
    Border: 1px Dashed #953734;
}
