a {
    color: #31859b;
}

a:visited {
    color: #31859b;
}

a:hover {
    background-color: #31859b;
    color: #ffffff;
}

a.sectionAnchor:hover {
    background-color: #ffffff;
    color: #31859b;
}

.titleBackground {
    background: #31859b;
}

span.sectionFont {
    color: #31859b;
}

pre {
    background: #dbeef3;
    border: 1px dashed #31859b;
}

pre.good {
    background: #ebf1dd;
    border: 1px dashed #76923c;
}

pre.bad {
    background: #f2dcdb;
    border: 1px dashed #953734;
}
