BODY
{
    Font-Family: Arial, Sans-Serif;
    Font-Size: 10pt;
}

A
{
    Color: #333377;
}

A:Visited
{
    Color: #333377;
}

A:Hover
{
    Background-Color: #333377;
    Color: #FFFFFF;
    Text-Decoration: None;
}

.TitleBackground
{
    Background: #333377;
    Padding: 3px 3px 3px 3px;
    Margin: -3px -3px 13px -3px;
}

SPAN.TitleFont
{
    Font-Size: 15pt;
    Font-Weight: Bold;
    Color: #FFFFFF;
}

SPAN.SectionFont
{
    Font-Size: 13pt;
    Font-Weight: Bold;
    Color: #333377;
}

.CopyrightBackground
{
    Text-Align: Center;
    Background: #E3E3E3;
    Margin: 13px 0px 0px 0px;
}

SPAN.CopyrightFont
{
    Font-Size: 9pt;
    Color: #808080;
}
