body {
    font-family: arial, sans-serif;
    font-size: 10pt;
}

a:hover {
    text-decoration: none;
}

h1 {
    padding: 3px 3px 3px 3px;
    margin: -3px -3px 13px -3px;
    color: rgba(255, 255, 255, 1);
    font-size: 15pt;
    font-weight: bold;
}

h2 {
    font-size: 13pt;
    font-weight: bold;
}

div.copyright {
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    margin: 13px -3px -3px -3px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 9pt;
    font-weight: bold;
}

li {
    list-style-type: square;
}

pre {
    padding: 3px;
    margin: 3px 13px 3px 13px;
    white-space: pre-wrap;
}
