body {
    padding: 13px 0;
    font-family: "Arial", "Sans-Serif";
    font-size: 10pt;
}

a {
    color: rgb(103, 103, 103);
    text-decoration: none;
}

a:focus, a:hover {
    margin: -1px;
    outline: 0;
    border: 1px solid rgba(103, 103, 103, 0.13);
    background: rgba(103, 103, 103, 0.05);
    color: rgb(103, 103, 103);
}

a.noHover:hover {
    /* This prevents anchors from looking like a link */

    margin: 0;
    border: 0;
    background: rgba(255, 255, 255, 0);
}

div.contents {
    border-radius: 0 0 13px 13px;
}

div.contents.latest {
    border-radius: 0;
}

div.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19px;
    border-top: 1px solid rgba(161, 161, 161, 0.39);
    background: rgb(229, 229, 229);
    color: rgb(161, 161, 161);
    font-size: 9pt;
    font-weight: bold;
}

div.copyright div {
    display: table-cell;
    position: fixed;
    bottom: 2px;
}

div.copyright div.center {
    position: absolute;
    left: 50%;
    top: 50%;
}

div.copyright div.left {
    left: 4px;
}

div.copyright div.right {
    right: 4px;
}

div.copyright div a.copyright:hover {
    margin: 0;
    border: 0;
    background: none;
}

div.copyright div img.twitter {
    position: relative;
    top: -15px;
    border: 0;
}

div.copyright div img.vpr {
    position: relative;
    top: 4px;
    border: 0;
}

div.download,
div.section {
    color: rgb(103, 103, 103);
    font-size: 13pt;
    font-weight: bold;
}

div.download {
    border-radius: 13px 13px 0 0;
    margin: 1.5em 0 0 0;
    padding: 3px 7px 3px 7px;
}

div.download table,
div.section table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

div.download table td,
div.section table td {
    padding: 0;
}

div.download table td.date,
div.section table td.date {
    text-align: right;
    font-size: 9pt;
    font-style: italic;
    font-weight: normal;
}

div.download table td.whatIsNew {
    text-align: center;
}

div.download table td.whatIsNew span.whatIsNew {
    font-size: 7pt;
    font-style: italic;
    font-weight: normal;
}

div.header {
    z-index: 999;
    padding: 3px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 23px;
    background: rgb(103, 103, 103);
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-weight: bold;
}

div.latest {
    border: 1px solid rgb(237, 163, 100);
    background: rgba(227, 108, 9, 0.13);
}

div.latestDownload {
    border-bottom: none;
    background: rgba(227, 108, 9, 0.39);
}

div.main {
    position: relative;
    margin-top: -200px;
    margin-left: 330px;
}

div.note {
    padding: 3px 7px 3px 7px;
    border: 1px solid rgb(237, 163, 100);
    border-top: none;
    border-radius: 0 0 13px 13px;
}

div.official {
    border: 1px solid rgb(170, 187, 133);
    background: rgba(118, 146, 60, 0.13);
}

div.officialDownload {
    border-bottom: none;
    background: rgba(118, 146, 60, 0.39);
}

div.old {
    border: 1px solid rgb(212, 212, 212);
    background: rgba(103, 103, 103, 0.05);
}

div.oldDownload {
    border-bottom: none;
    background: rgba(103, 103, 103, 0.15);
}

div.section {
    margin: 1.5em 0 0.5em 0;
    /* Note: the margin is so that it is rendered like a <p>, which is  */
    /*        necessary if we want to use a section at the beginning of */
    /*        a page (because of our fixed header at the top)...        */
    border-bottom: 1px solid rgba(103, 103, 103, 0.39);
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
}

img.downloads {
    margin: -1px;
    border: 1px solid rgba(103, 103, 103, 0.13);
    border-radius: 13px;
    padding: 3px 7px 3px 7px;
    position: fixed;
    top: 3px;
    right: 3px;
    background: rgba(103, 103, 103, 0.05);
}

img.downloads:hover {
    border: 1px solid rgba(103, 103, 103, 0.39);
    background: rgba(103, 103, 103, 0.13);
}

img.vcenter {
    vertical-align: -3px;
}

span.anchor {
    display: block;
    height: 23px;
    margin-top: -23px;
    visibility: hidden;
}

span.changes {
    color: rgb(103, 103, 103);
}

span.fakeLink {
    color: rgb(103, 103, 103);
    cursor: pointer;
}

span.fakeLink:hover {
    margin: -1px;
    border: 1px solid rgba(103, 103, 103, 0.13);
    background: rgba(103, 103, 103, 0.05);
    color: rgb(103, 103, 103);
}

span.license {
    font-size: 7pt;
    font-style: italic;
    font-weight: normal;
}

span.note {
    font-weight: bold;
}

table.team {
    margin-left: 2.5em;
}

table.team td div {
    padding-bottom: 0.5em;
    color: rgb(103, 103, 103);
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
}

table ul.downloadsMenu {
    border-spacing: 0;
}

table.note {
    color: rgb(103, 103, 103);
}

table.version,
table.changes,
table.note {
    width: 100%;
}

table.version td.leftSeparator {
    border-left: 1px dashed rgba(103, 103, 103, 0.39);
}

table.version td.platform div {
    color: rgb(103, 103, 103);
    font-style: italic;
}

table.version td.platform div.name {
    font-size: 12pt;
    font-weight: bold;
}

table.version td.platform div.supported {
    font-size: 8pt;
}

table.version td.platform td.logo {
    width: 80px;
}

table.version td.platform span.fileSize {
    font-size: 7pt;
    font-style: italic;
}

table.version td.topSeparator,
table.changes td.topSeparator {
    border-top: 1px dashed rgba(103, 103, 103, 0.39);
}

ul {
    margin: 7px 0;
}

ul > li {
    list-style-type: square;
    margin-left: -1em;
}

ul > li > ul {
    margin: 0;
}

ul.downloadsMenu {
    z-index: 999;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    padding: 0;
    visibility: hidden;
    background: rgb(249, 249, 249);
    border: 1px solid rgb(103, 103, 103);
    border-radius: 5px;
    box-shadow: 0 5px 5px -5px rgb(103, 103, 103);
}

ul.downloadsMenu > li {
    list-style: none;
}

ul.downloadsMenu > li {
    cursor: default;
    margin: 1px;
    font-size: 8pt;
    font-weight: normal;
}

ul.downloadsMenu > li > div > div > div:hover {
    background: rgba(103, 103, 103, 0.79);
}

ul.downloadsMenu > li div:hover a {
    color: rgb(255, 255, 255);
}

ul.downloadsMenu > li div.firstMenuItem > div:hover {
    border-radius: 3px 3px 0 0;
}

ul.downloadsMenu > li div.lastMenuItem > div:hover {
    border-radius: 0 0 3px 3px;
}

ul.downloadsMenu > li div.menuItemLabel {
    display: table-cell;
    font-style: normal;
}

ul.downloadsMenu > li div.menuItemTable {
    display: table;
    width: 100%;
}

ul.downloadsMenu > li div.menuItemTableRow {
    display: table-row;
    vertical-align: middle;
}

ul.downloadsMenu li a {
    display: block;
    padding: 1px;
}

ul.downloadsMenu li a:hover {
    margin: 0;
    border: 0;
}
