@import "common.css";

div.header {
    background: rgb(103, 103, 103);
}

div.section {
    color: rgb(103, 103, 103);
}

img.downloads {
    margin: 0px;
    border: none;
    padding: 3px 7px 3px 7px;
    position: fixed;
    top: 3px;
    right: 3px;
    background: none;
}

img.downloads:hover {
    margin: -1px;
    border: 1px solid rgba(103, 103, 103, 0.13);
    border-radius: 13px;
    background: rgba(103, 103, 103, 0.05);
}

table.downloads th {
    padding: 7px 13px;
}

table.downloads td {
    padding: 7px 13px;
}

table.downloads div {
    color: rgb(103, 103, 103);
    font-size: 13pt;
    font-style: italic;
    font-weight: bold;
}
