@import "common.css";

div.header {
    background: rgb(103, 103, 103);
}

div.official {
    margin: -1px;
    border: 1px solid rgba(118, 146, 60, 0.39);
    background: rgba(118, 146, 60, 0.13);
}

div.latest {
    margin: -1px;
    border: 1px solid rgba(227, 108, 9, 0.39);
    background: rgba(227, 108, 9, 0.13);
}

div.old {
    margin: -1px;
    border: 1px solid rgba(103, 103, 103, 0.13);
    background: rgba(103, 103, 103, 0.05);
}

div.latestInfo {
    margin: -1px;
    border-bottom: 1px solid rgba(227, 108, 9, 0.39);
    border-left: 1px solid rgba(227, 108, 9, 0.39);
    border-right: 1px solid rgba(227, 108, 9, 0.39);
    border-radius: 0px 0px 13px 13px;
    padding: 3px 7px 3px 7px;
    background: rgba(227, 108, 9, 0.39);
    color: rgb(103, 103, 103);
}

div.section {
    border-bottom: 1px solid rgba(103, 103, 103, 0.39);
    color: rgb(103, 103, 103);
}

div.withInfo {
    border-radius: 13px 13px 0px 0px;
}

div.withoutInfo {
    border-radius: 13px;
}

img.downloads {
    margin: -1px;
    border: 1px solid rgba(103, 103, 103, 0.13);
    border-radius: 13px;
    padding: 3px 7px 3px 7px;
    position: fixed;
    top: 3px;
    right: 3px;
    background: rgba(103, 103, 103, 0.05);
}

img.downloads:hover {
    border: 1px solid rgba(103, 103, 103, 0.39);
    background: rgba(103, 103, 103, 0.13);
}

div.main {
    position: relative;
    margin-top: -200px;
    margin-left: 330px;
}

span.changes {
    color: rgb(103, 103, 103);
}

table.version,
table.changes {
    width: 100%;
}

table.version td.topSeparator,
table.changes td.topSeparator {
    border-top: 1px dashed rgba(103, 103, 103, 0.39);
}

table.version td.leftSeparator {
    border-left: 1px dashed rgba(103, 103, 103, 0.39);
}

table.version td.platform td.logo {
    width: 80px;
}

table.version td.platform div {
    color: rgb(103, 103, 103);
    font-style: italic;
}

table.version td.platform div.name {
    font-size: 12pt;
    font-weight: bold;
}

table.version td.platform div.supported {
    font-size: 8pt;
}

table.version td.platform span.fileSize {
    font-size: 7pt;
    font-style: italic;
}
