body {
    font-family: arial, sans-serif;
    font-size: 10pt;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.titleBackground {
    padding: 3px 3px 3px 3px;
    margin: -3px -3px 13px -3px;
}

span.titleFont {
    color: #ffffff;
    font-size: 15pt;
    font-weight: bold;
}

span.sectionFont {
    font-size: 13pt;
    font-weight: bold;
}

li {
    list-style-type: square;
}

pre {
    padding: 3px;
    margin: 3px 13px 3px 13px;
    white-space: pre-wrap;
}

.copyrightBackground {
    text-align: center;
    background: #d8d8d8;
    margin: 13px -3px -3px -3px;
}

span.copyrightFont {
    color: #7f7f7f;
    font-size: 9pt;
}
