BODY
{
    Font-Family: Arial, Sans-Serif;
    Font-Size: 10pt;
}

A:Hover
{
    Color: #FFFFFF;
    Text-Decoration: None;
}

.TitleBackground
{
    Padding: 3px 3px 3px 3px;
    Margin: -3px -3px 13px -3px;
}

SPAN.TitleFont
{
    Color: #FFFFFF;
    Font-Size: 15pt;
    Font-Weight: Bold;
}

SPAN.SectionFont
{
    Font-Size: 13pt;
    Font-Weight: Bold;
}

PRE
{
    Padding: 3px;
    Margin: 3px 13px 3px 13px;
    White-Space: Pre-Wrap;
}

.CopyrightBackground
{
    Text-Align: Center;
    Background: #D8D8D8;
    Margin: 13px 0px 0px 0px;
}

SPAN.CopyrightFont
{
    Color: #7F7F7F;
    Font-Size: 9pt;
}
