a {
    color: #366092;
}

a:visited {
    color: #366092;
}

a:hover {
    background-color: #366092;
    color: #ffffff;
}

.titleBackground {
    background: #366092;
}

span.sectionFont {
    color: #366092;
}

pre {
    background: #dbe5f1;
    border: 1px dashed #366092;
}
