a {
    color: rgb(54, 96, 146);
}

a:visited {
    color: rgb(54, 96, 146);
}

a:hover {
    background-color: rgb(54, 96, 146);
    color: rgb(255, 255, 255);
    /* Note: ideally, 'color' would be specified in stylesheet.css, but then */
    /*        local links wouldn't look fine, so... (!?)                     */
}

p.titleBackground {
    background: rgb(54, 96, 146);
}

span.sectionFont {
    color: rgb(54, 96, 146);
}

pre {
    background: rgb(219, 229, 241);
    border: 1px dashed rgb(54, 96, 146);
}
