A
{
    Color: #366092;
}

A:Visited
{
    Color: #366092;
}

A:Hover
{
    Background-Color: #366092;
    Color: #FFFFFF;
}

.TitleBackground
{
    Background: #366092;
}

SPAN.SectionFont
{
    Color: #366092;
}

PRE
{
    Background: #DBE5F1;
    Border: 1px Dashed #366092;
}
