# Note #1: the full list of Clang-Tidy checks can be found at
#          https://clang.llvm.org/extra/clang-tidy/checks/list.html...
# Note #2: performance-no-automatic-move shouldn't be disabled, but we have to
#          due to an issue with Qt (see
#          https://bugreports.qt.io/browse/QTBUG-85415)...
# Note #3: readability-redundant-access-specifiers shouldn't normally be
#          disabled, but Clang-Tidy gets a bit confused with access specifiers
#          like "public" vs. "public slots"...

---
Checks: >-
  -*,
  bugprone-*,
  cert-*,
  -cert-err58-cpp,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  fuchsia-*,
  -fuchsia-default-arguments,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-multiple-inheritance,
  -fuchsia-overloaded-operator,
  -fuchsia-statically-constructed-objects,
  google-*,
  -google-default-arguments,
  -google-runtime-references,
  hicpp-*,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-vararg,
  llvm-*,
  -llvm-header-guard,
  -llvm-include-order,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-pass-by-value,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-no-automatic-move,
  readability-*,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-redundant-access-specifiers
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
...
