[submodule "src/plugins/thirdParty/Python/cmake"]
	path = src/plugins/thirdParty/Python/build/cmake
	url = git@github.com:python-cmake-buildsystem/python-cmake-buildsystem.git
[submodule "src/plugins/thirdParty/PythonQt/PythonQt"]
	path = src/plugins/thirdParty/PythonQt/PythonQt
	url = https://github.com/commontk/PythonQt
	branch = patched-6
[submodule "src/plugins/thirdParty/OpenSSL/OpenSSL"]
	path = src/plugins/thirdParty/OpenSSL/OpenSSL
	url = git@github.com:openssl/openssl.git
	branch = OpenSSL_1_1_0-stable
