/CMakeLists.txt.user

/distrib/windows/x86/libeay32.dll
/distrib/windows/x86/msvcr100.dll
/distrib/windows/x86/msvcp100.dll
/distrib/windows/x86/ssleay32.dll

/src/plugins/**/bin/**/*

/src/plugins/3rdparty/LLVM/include/llvm/Config/config.h
/src/plugins/3rdparty/LLVM/include/llvm/Config/llvm-config.h

/src/plugins/3rdparty/LLVM/include/llvm/Support/DataTypes.h

/src/plugins/3rdparty/LLVM/lib/Target/X86/X86GenAsmMatcher.inc

/windows/CMakeLists.txt.user
