/CMakeLists.txt.user

/distrib/windows/x86/debug/libeay32.dll
/distrib/windows/x86/debug/msvcp100d.dll
/distrib/windows/x86/debug/msvcr100d.dll
/distrib/windows/x86/debug/ssleay32.dll

/distrib/windows/x86/release/libeay32.dll
/distrib/windows/x86/release/msvcp100.dll
/distrib/windows/x86/release/msvcr100.dll
/distrib/windows/x86/release/ssleay32.dll

/src/plugins/*/*/bin/

/src/plugins/thirdParty/LLVM/include/llvm/Config/config.h
/src/plugins/thirdParty/LLVM/include/llvm/Config/llvm-config.h

/src/plugins/thirdParty/LLVM/include/llvm/Support/DataTypes.h

/src/plugins/thirdParty/LLVM/lib/Target/X86/X86GenAsmMatcher.inc

/windows/CMakeLists.txt.user
