*               text=auto

*.bat           text
*.c             text
*.cellml        text
*.cmake         text
*.cpp           text
*.css           text
*.exfile        text
*.gitattributes text
*.gitignore     text
*.h             text
*.html          text
*.icns          binary
*.ico           binary
*.in            text
*.inl           text
*.jpg           binary
*.js            text
*.json          text
*.mm            text
*.nsh           text
*.omex          binary
*.out           text
*.php           text
*.png           binary
*.pptx          binary
*.py            text
*.qhp           text
*.qm            binary
*.qrc           text
*.rst           text
*.sedml         text
*.svg           text
*.ts            text
*.txt           text
*.ui            text
*.vbs           text
*.xml           text
*.xsd           text
*.xsl           text
