*               text=auto

*.asm           text
*.bat           text
*.c             text
*.cellml        text
*.cmake         text
*.cpp           text
*.css           text
*.def           text
*.gen           text
*.gitattributes text
*.gitignore     text
*.h             text
*.hpp           text
*.html          text
*.hxx           text
*.icns          binary
*.ico           binary
*.in            text
*.inc           text
*.inl           text
*.jpg           binary
*.js            text
*.json          text
*.map           text
*.md            text
*.nsh           text
*.out           text
*.php           text
*.png           binary
*.qhcp          text
*.qhp           text
*.qm            binary
*.qrc           text
*.rc            text
*.svg           text
*.td            text
*.ts            text
*.txt           text
*.ui            text
*.vbs           text
*.xml           text
*.xsl           text
*.yml           text
