@import url("../../res/common.css");

a {
    color: rgb(49, 133, 155);
}

a:visited {
    color: rgb(49, 133, 155);
}

a:hover {
    border: 1px solid rgba(49, 133, 155, 0.19);
    background-color: rgba(49, 133, 155, 0.05);
    color: rgb(49, 133, 155);
}

div.header {
    background: rgb(49, 133, 155);
}

div.section {
    color: rgb(49, 133, 155);
}

div.section a:hover {
    /* Note: this is to prevent div.section elements that have an anchor */
    /*       from looking like a link...                                 */

    margin: 0px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(49, 133, 155);
}

pre {
    border: 1px solid rgba(49, 133, 155, 0.19);
    background: rgba(49, 133, 155, 0.05);
}

pre.good {
    border-color: rgba(118, 146, 60, 0.19);
    background: rgba(118, 146, 60, 0.05);
}

pre.bad {
    border-color: rgba(149, 55, 52, 0.19);
    background: rgba(149, 55, 52, 0.05);
}

code {
    color: rgb(49, 133, 155);
}
