@import url("../../res/common.css");

a {
    color: rgb(49, 133, 155);
}

a.warning {
    color: rgb(149, 55, 52);
}

a:visited {
    color: rgb(49, 133, 155);
}

a.warning:visited {
    color: rgb(149, 55, 52);
}

a:hover {
    border: 1px dotted rgba(49, 133, 155, 0.49);
    background-color: rgba(49, 133, 155, 0.07);
    color: rgb(49, 133, 155);
}

a.warning:hover {
    border: 1px dotted rgba(149, 55, 52, 0.49);
    background-color: rgba(149, 55, 52, 0.07);
    color: rgb(149, 55, 52);
}

div.header {
    background: rgb(49, 133, 155);
}

div.section {
    color: rgb(49, 133, 155);
}

div.section a:hover {
    /* Note: this is to prevent div.section elements that have an anchor */
    /*       from looking like a link...                                 */

    margin: 0px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(49, 133, 155);
}

p.warning {
    border: 1px solid rgba(149, 55, 52, 0.49);
    padding: 3px;
    background: rgba(149, 55, 52, 0.07);
    font-weight: bold;
}

pre {
    border: 1px dashed rgba(49, 133, 155, 0.49);
    background: rgba(49, 133, 155, 0.07);
}

pre.good {
    border-color: rgba(118, 146, 60, 0.49);
    background: rgba(118, 146, 60, 0.07);
}

pre.bad {
    border-color: rgba(149, 55, 52, 0.49);
    background: rgba(149, 55, 52, 0.07);
}

code {
    color: rgb(49, 133, 155);
}
