#FileBrowserWindow QToolButton,
#HelpWindow QToolButton {
    border-style: none;
}

#FileBrowserWindow QToolButton:hover,
#HelpWindow QToolButton:hover {
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
    background-color: qLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 rgb(245, 245, 245),
                                      stop: 0.42999 rgb(232, 232, 232),
                                      stop: 0.43 rgb(218, 218, 218),
                                      stop: 1 rgb(240, 240, 240));
}

#FileBrowserWindow QToolButton:pressed,
#HelpWindow QToolButton:pressed {
    border: 1px solid rgb(84, 84, 84);
    background-color: qLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 rgb(180, 180, 180),
                                      stop: 1 rgb(230, 230, 230));
}

#FileBrowserWindow .QFrame,
#HelpWindow .QFrame {
    /* For the line separators in the secondary toolbars (we only target */
    /* QFrame objects, not objects that inherit from QFrame)             */

    color: lightGrey;
}
