span.label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    display: inline-block;
    border-radius: 2px;
    padding: 3px 4px 3px 4px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px -1px 0px 0px inset;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
}

span.feature {
    background: rgb(0, 152, 0);
    color: rgb(255, 255, 255);
}

span.improvement {
    background: rgb(251, 202, 4);
}

span.bug {
    background: rgb(225, 29, 33);
    color: rgb(255, 255, 255);
}

span.task {
    background: rgb(254, 242, 192);
}

span.regression {
    background: rgb(191, 218, 220);
}

span.windows {
    background: rgb(191, 229, 191);
}

span.linux {
    background: rgb(250, 216, 199);
}

span.macos {
    background: rgb(199, 222, 248);
}
