A
{
    Color: #76923C;
}

A:Visited
{
    Color: #76923C;
}

A:Hover
{
    Background-Color: #76923C;
    Color: #FFFFFF;
}

.TitleBackground
{
    Background: #76923C;
}

SPAN.SectionFont
{
    Color: #76923C;
}
