pre.sampleCode {
    margin: 0px;
    padding: 0px;
}

span.cellmlKeyword {
    color: rgb(127, 0, 127);
}

span.cmetaId,
span.parameterBlock,
span.unit {
    font-style: italic;
}

span.comment {
    color: rgb(127, 127, 127);
}

span.keyword {
    color: rgb(0, 0, 127);
}

span.number {
    color: rgb(0, 127, 127);
}

span.string {
    color: rgb(0, 127, 0);
}

table {
    margin: 1em 0em;
}

table > tbody > tr > td {
    padding: 0em 1em;
}

table > tbody > tr > td.center {
    text-align: center;
}

table > tbody > tr > td.siBaseUnit {
    font-weight: bold;
}

table > tbody > tr > td.convenienceUnit {
    font-style: italic;
}

table > tbody > tr > td.number {
    text-align: left;
}
