a {
    color: rgb(54, 96, 146);
}

a:visited {
    color: rgb(54, 96, 146);
}

a:hover {
    background-color: rgba(54, 96, 146, 0.05);
    color: rgb(54, 96, 146);
    border: 1px solid rgba(54, 96, 146, 0.13);
}

div.header {
    background: rgb(54, 96, 146);
}

div.section {
    color: rgb(54, 96, 146);
}

span.opencor {
    display: none;
}

p.center {
    text-align: center;
}

pre {
    background: rgba(54, 96, 146, 0.05);
    border: 1px solid rgba(54, 96, 146, 0.13);
}

code {
    color: rgb(54, 96, 146);
}

img.centerLink:hover {
    background: rgba(54, 96, 146, 0.05);
    border: 1px solid rgba(54, 96, 146, 0.13);
}

table.toolbarButtons th {
    padding: 0px 13px 0px 13px;
}
