@import url("../../res/common.css");

a {
    color: rgba(54, 96, 146, 1);
}

a:visited {
    color: rgba(54, 96, 146, 1);
}

a:hover {
    border: 1px dotted rgba(54, 96, 146, 0.49);
    background-color: rgba(54, 96, 146, 0.07);
    color: rgba(54, 96, 146, 1);
}

h1 {
    background: rgba(54, 96, 146, 1);
}

h2 {
    color: rgba(54, 96, 146, 1);
}

pre {
    border: 1px dashed rgba(54, 96, 146, 0.49);
    background: rgba(54, 96, 146, 0.07);
}

code {
    color: rgba(54, 96, 146, 1);
}
