@import url("../../res/common.css");
@import url("/doc/res/common.css");
/* Note: the first import used to be sufficient for use within either a web */
/*       page or a Qt help page, but not anymore. So, instead, we now have  */
/*       the first import for use within a web page and the second import   */
/*       for use within a Qt help page. Indeed, with Qt 4.8.0, QtWebKit is  */
/*       now stricter (or, most likely, it didn't use to be strict enough   */
/*       and now does what it should have been doing all along?), hence the */
/*       above 'dirty trick' to get things to work in both cases...         */

a {
    color: rgba(54, 96, 146, 1);
}

a:visited {
    color: rgba(54, 96, 146, 1);
}

a:hover {
    border: 1px dotted rgba(54, 96, 146, 0.49);
    background-color: rgba(54, 96, 146, 0.07);
    color: rgba(54, 96, 146, 1);
}

h1 {
    background: rgba(54, 96, 146, 1);
}

h2 {
    color: rgba(54, 96, 146, 1);
}

pre {
    border: 1px dashed rgba(54, 96, 146, 0.49);
    background: rgba(54, 96, 146, 0.07);
}

code {
    color: rgba(54, 96, 146, 1);
}
