@import "webCommon.css";
@import "qthelp://opencor/doc/res/common.css";

a {
    color: rgb(54, 96, 146);
}

a:visited {
    color: rgb(54, 96, 146);
}

a:hover {
    border: 1px solid rgba(54, 96, 146, 0.13);
    background: rgba(54, 96, 146, 0.05);
    color: rgb(54, 96, 146);
}

div.header {
    background: rgb(54, 96, 146);
}

div.section {
    border-bottom: 1px solid rgba(54, 96, 146, 0.39);
    color: rgb(54, 96, 146);
}

p.center {
    text-align: center;
}

pre {
    border: 1px solid rgba(54, 96, 146, 0.13);
    background: rgba(54, 96, 146, 0.05);
}

code {
    color: rgb(54, 96, 146);
}

img.centerLink {
    border: none;
}

img.centerLink:hover {
    border: 1px solid rgba(54, 96, 146, 0.13);
    background: rgba(54, 96, 146, 0.05);
}

table.toolBarButtons th {
    padding: 0px 13px 0px 13px;
}

table.team {
    margin-left: 2.5em;
}

table.team td div {
    padding-bottom: 0.5em;
    color: rgb(54, 96, 146);
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
}
