@import "../../res/common.css";
@import "qthelp://opencor/doc/res/common.css";

a {
    color: rgb(54, 96, 146);
}

a:hover {
    border: 1px solid rgba(54, 96, 146, 0.13);
    background: rgba(54, 96, 146, 0.05);
    color: rgb(54, 96, 146);
}

code {
    color: rgb(54, 96, 146);
}

div.header {
    background: rgb(54, 96, 146);
}

div.imagepopup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(54, 96, 146, 0.69);
}

div.section {
    border-bottom: 1px solid rgba(54, 96, 146, 0.39);
    color: rgb(54, 96, 146);
}

div.subSection {
    color: rgb(54, 96, 146);
}

img.link {
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 7px;
    cursor: pointer;
}

img.link:hover {
    margin-top: -1px;
    margin-bottom: -1px;
    border: 1px solid rgba(54, 96, 146, 0.13);
    border-radius: 7px;
    background: rgba(54, 96, 146, 0.05);
}

img.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 13px;
    border-radius: 13px;
    background: rgb(255, 255, 255);
}

img.vcenter {
    vertical-align: -2px;
}

p.center {
    text-align: center;
}

pre {
    border: 1px solid rgba(54, 96, 146, 0.13);
    background: rgba(54, 96, 146, 0.05);
}

table.legend th {
    padding: 0px 13px 0px 13px;
}

table.team {
    margin-left: 2.5em;
}

table.team td div {
    padding-bottom: 0.5em;
    color: rgb(54, 96, 146);
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
}
