name: ci

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  ci:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Build and test (Windows release)'
            os: windows-2016
            mode: Release
          - name: 'Build and test (Windows debug)'
            os: windows-2016
            mode: Debug
          - name: 'Build and test (Linux release)'
            os: ubuntu-20.04
            mode: Release
          - name: 'Build and test (Linux debug)'
            os: ubuntu-20.04
            mode: Debug
          - name: 'Build and test (macOS release)'
            os: macos-11
            mode: Release
          - name: 'Build and test (macOS debug)'
            os: macos-11
            mode: Debug
    env:
      BUILDCACHE_COMPRESS_FORMAT: ZSTD
      BUILDCACHE_DEBUG: -1
      BUILDCACHE_DIRECT_MODE: true
      BUILDCACHE_LOG_FILE: ""
    steps:
      - name: Check out OpenCOR
        uses: actions/checkout@v2
      - name: Install CMake and Ninja
        uses: lukka/get-cmake@latest
      - name: Cache Qt
        id: cache-qt
        uses: actions/cache@v1
        with:
          path: ../Qt
          key: ${{ matrix.os }}-${{ matrix.mode }}-Qt-${{ github.sha }}
          restore-keys: ${{ matrix.os }}-${{ matrix.mode }}-Qt
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '5.12.11'
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
          setup-python: 'false'
      - name: Install packages (Linux only)
        if: ${{ runner.os == 'Linux' }}
        run: sudo apt install libglu1-mesa
      - name: Install buildcache
        uses: mikehardy/buildcache-action@v1
        with:
          cache_key: ${{ matrix.os }}-${{ matrix.mode }}
      - name: Cache external dependencies
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/ext
          key: ${{ matrix.os }}-${{ matrix.mode }}-ExternalDependencies-${{ github.sha }}
          restore-keys: ${{ matrix.os }}-${{ matrix.mode }}-ExternalDependencies
      - name: Build and test OpenCOR (Windows only)
        if: ${{ runner.os == 'Windows' }}
        shell: cmd
        run: scripts/genericci ${{ matrix.mode }}
      - name: Build and test OpenCOR (Linux and macOS only)
        if: ${{ runner.os == 'Linux' || runner.os == 'macOS' }}
        run: scripts/genericci ${{ matrix.mode }}
  doc:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Documentation (Windows)'
            os: windows-2016
          - name: 'Documentation (Linux)'
            os: ubuntu-20.04
          - name: 'Documentation (macOS)'
            os: macos-11
    steps:
      - name: Check out OpenCOR
        uses: actions/checkout@v2
      - name: Install CMake and Ninja
        uses: lukka/get-cmake@latest
      - name: Install Sphinx
        run: pip3 install Sphinx
      - name: Generate the documentation (Windows only)
        if: ${{ runner.os == 'Windows' }}
        shell: cmd
        run: .\cd
      - name: Generate the documentation (Linux and macOS only)
        if: ${{ runner.os == 'Linux' || runner.os == 'macOS' }}
        run: ./cd
